@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #252a34;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}
.nav1{
    color: #e03a2e;
    font-size: large;
}
.nav1:hover{
    color: white;
}
#page1{
    height: 120vh;
    width: 100vw;
    background: #252a34;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: crimson;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
.to-top{
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0));
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
  }
  
  .keyboard {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    max-height: 90%;
    padding: 100px;
    box-sizing: border-box;
  }
  
  .table {
    height: 100vh;
    width: 100vw;
  }
  
  .key {
    color: #252a34;
    background: #252a34;
    /* border: 2px solid rgb(0, 4, 4); */
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all ease-out;
  }
  
  .key:hover {
    animation: rgb-glow 0.9s infinite alternate;
    color: rgb(255, 0, 0);
  }
  .share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  @keyframes rgb-glow {
    0% {
      box-shadow: 0 0 50px blue;
    }
    25% {
      box-shadow: 0 0 50px cyan;
    }
    50% {
      box-shadow: 0 0 50px green;
    }
    75% {
      box-shadow: 0 0 50px yellow;
    }
    100% {
      box-shadow: 0 0 50px red;
    }
  }
  
  .key.backspace {
    grid-column: span 2;
  }
  
  .key.tab {
    grid-column: span 2;
  }
  
  .key.capslock {
    grid-column: span 2;
  }
  
  .key.enter {
    grid-column: span 2;
  }
  
  .key.shift {
    grid-column: span 2;
  }
  
  .key.space {
    grid-column: span 5;
  }
  
  .key.ctrl {
    grid-column: span 1;
  }
  
  .key.alt {
    grid-column: span 1;
  }
  /* Responsive styles */
  
  /* Small screens (max-width: 768px) */
  @media (max-width: 768px) {
    .keyboard {
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 5px;
      padding: 50px;
    }
    .key {
      font-size: 20px;
      height: 80px;
    }
  }
  
  /* Medium screens (max-width: 1024px) */
  @media (max-width: 1024px) {
    .keyboard {
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 10px;
      padding: 75px;
    }
    .key {
      font-size: 25px;
      height: 90px;
    }
  }
  
  /* Large screens (min-width: 1200px) */
  @media (min-width: 1200px) {
    .keyboard {
      grid-template-columns: repeat(14, 1fr);
      grid-gap: 15px;
      padding: 100px;
    }
    .key {
      font-size: 30px;
      height: 100px;
    }
  }
  .page2,
  h1 {
    background-color: rgb(0, 0, 0);
    font-size: 100vh;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(255, 0, 0);
    font-family: "Calistoga", serif;
    font-weight: 800;
    font-style: normal;
  }
  @media only screen and (max-width: 768px) {
    .page2 {
      display: none;
    }
  }
  #preloader{
    background: #000 url('preloader.gif') no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  iframe{
    display: none;
  }