@font-face {
  font-family: myFont;
  src: url(Stranger\ Things.ttf);
}
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color: linear-gradient(90deg,
                    hsl(48, 100%, 50%) 0%,
                    hsl(28, 100%, 54%, 100%));
  --black-color: hsl(225, 15%, 6%);
  --reflection-color: hsla(48, 30%, 95%, .3);
  --body-color: hsl(48, 100%, 98%);
}
*{
    margin: 0;
    padding: 0;
    font-family: myFont;
  }
  body{
    overflow-x: hidden;
    
}
h2{
  color: #DA291C;
}
.h2{
  color: white;
  position: relative;
  right: 65vh;
  font-size: 40px;
}
.nav1{
    color: #DA291C;
    font-family: myFont;
    font-size: 20px;

}
.nav1:hover{
    color: white;
}
#page1{
    height: 100vh;
    width: 100vw;
  }
  #page2{
    height: 100vh;
    width: 100vw;
    background: #000000;
    position: relative;
    bottom: 60px;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: #DA291C;
}
.to-top{
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0));
    font-family: myFont;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
  }
  
  .keyboard {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    max-height: 90%;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    bottom: 100px;
  }
  
  .table {
    height: 100vh;
    width: 100vw;
  }
  
  .key {
    color: #000000;
    background: #000000;
    /* border: 2px solid rgb(0, 4, 4); */
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all ease-out;
  }
  
  .key:hover {
    animation: rgb-glow 0.9s infinite alternate;
    color: rgb(255, 0, 0);
  }
  .share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  @keyframes rgb-glow {
    0% {
      box-shadow: 0 0 50px blue;
    }
    25% {
      box-shadow: 0 0 50px cyan;
    }
    50% {
      box-shadow: 0 0 50px green;
    }
    75% {
      box-shadow: 0 0 50px yellow;
    }
    100% {
      box-shadow: 0 0 50px red;
    }
  }
  
  .key.backspace {
    grid-column: span 2;
  }
  
  .key.tab {
    grid-column: span 2;
  }
  
  .key.capslock {
    grid-column: span 2;
  }
  
  .key.enter {
    grid-column: span 2;
  }
  
  .key.shift {
    grid-column: span 2;
  }
  
  .key.space {
    grid-column: span 5;
  }
  
  .key.ctrl {
    grid-column: span 1;
  }
  
  .key.alt {
    grid-column: span 1;
  }
  /* Responsive styles */
  
  /* Small screens (max-width: 768px) */
  @media (max-width: 768px) {
    .keyboard {
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 5px;
      padding: 50px;
    }
    .key {
      font-size: 20px;
      height: 80px;
    }
    .container{
      position: relative;
    right: 118px;
    }
  }
 
  /* Medium screens (max-width: 1024px) */
  @media  (max-width: 1024px) {
    .keyboard {
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 10px;
      padding: 75px;
    }
    .key {
      font-size: 25px;
      height: 90px;
    }
    .timer{
      width: 565px;
      height: 255px;
     
    }
    nav1{
      background-color: #000;
    }
  }
  @media (max-width:990px){
    .navbar{
      background-color: #000000;
    }
  }
  /* Large screens (min-width: 1200px) */
  @media (min-width: 1200px) {
    .keyboard {
      grid-template-columns: repeat(14, 1fr);
      grid-gap: 15px;
      padding: 100px;
    }
    .key {
      font-size: 30px;
      height: 100px;
    }
  }
  .page2,
  h1 {
    background-color: rgb(0, 0, 0);
    font-size: 100vh;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(255, 0, 0);
    font-family: "Calistoga", serif;
    font-weight: 800;
    font-style: normal;
  }
  @media only screen and (max-width: 768px) {
    .page2 {
      display: none;
    }
  }
 

  #preloader{
    background: #000 url('preloader.gif') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  iframe{
    display: none;
  }
  .date{
    z-index: 1;
    position: relative;
    top: 42%;
  }
  .slogan{
    z-index: 1;
    position: relative;
    top:42%;
    font-size: 25px;
  }
  #date{
    font-size: 25px;
    color: white;
  }
  .bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: transparent;
}

.colorBox:hover{
    background: #DA291C;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    filter: blur(70px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}
@keyframes animBack {
  0% {
    box-shadow: 0 0 50px blue;
  }
  25% {
    box-shadow: 0 0 50px cyan;
  }
  50% {
    box-shadow: 0 0 50px green;
  }
  75% {
    box-shadow: 0 0 50px yellow;
  }
  100% {
    box-shadow: 0 0 50px red;
  }
}
/* .circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
} */
a{
  text-decoration: none;
}
.container {
  height: 110vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
  
}

.button {
  position: relative;
  right: -100px;
  top: -50px;
  transition: transform .4s;
}

.button__content {
  position: relative;
  background: var(--gradient-color);
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid var(--black-color);
  color: var(--black-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;
}

.button__text {
  font-weight: 700;
}

.button__icon {
  font-size: 1.5rem;
}

.button__text, 
.button__icon {
  position: relative;
  z-index: 2;
}

/* Reflection shapes */
.button__reflection-1, 
.button__reflection-2 {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button__reflection-1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button__reflection-2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

/* Moving geometric shapes */
.button img {
  position: absolute;
  opacity: 0;
  transition: transform .5s, opacity .5s;
}

.button__star-1 {
  width: 20px;
  top: -14px;
  left: -16px;
  transform: rotate(48deg) scale(.1);
}

.button__star-2 {
  width: 40px;
  right: -10px;
  top: -4px;
  transform: rotate(-48deg) scale(.1);
}

.button__circle-1, 
.button__circle-2 {
  width: 8px;
}

.button__circle-1 {
  top: -8px;
  left: 58px;
  transform: scale(.1);
}

.button__circle-2 {
  right: 34px;
  bottom: -8px;
  transform: scale(.1);
}

.button__diamond {
  width: 18px;
  top: -18px;
  right: 62px;
  transform: scale(.1);
}

.button__triangle {
  width: 30px;
  left: 15px;
  bottom: -16px;
  transform: rotate(-48deg) scale(.1);
}

/* Gradient shadow */
.button__shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--gradient-color);
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid var(--black-color);
  z-index: -1;
  transition: transform .3s;
}

/* View shadow gradient */
.button:hover .button__shadow {
  transform: translate(-.5rem, .5rem);
}

/* Move reflection */
.button:hover .button__reflection-1 {
  left: 120%;
}

.button:hover .button__reflection-2 {
  left: -70%;
}

/* View geometric shapes */
.button:hover {
  transform: rotate(-4deg) scale(1.1);
}

.button:hover img {
  opacity: 1;
}

.button:hover .button__star-1 {
  transform: scale(1.1);
  transition-delay: .1s;
}

.button:hover .button__star-2 {
  transform: scale(1.1);
}

.button:hover .button__circle-1 {
  transform: translateY(-8px) scale(1.1);
  transition-delay: .1s;
}

.button:hover .button__circle-2 {
  transform: translate(-20px, 20px) scale(1.1);
}

.button:hover .button__diamond {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.button:hover .button__triangle {
  transform: rotate(-12deg) scale(1.1);
}
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}
.offcanvas{
  background-color: black;
}
.navbar-toggler{
  filter: brightness(10);
  position: relative;
  top: -8px;;
}
.logo{
  position: relative;
  z-index: 1;
  height: 50vh;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff,#ff22ef);
  border-radius: 10px;
}
.about{
  display: flex;
  align-items: center;
}